body{
    background-color: rgb(194, 193, 164);
    display: flex;
    justify-content: space-around;
}

input{
    background-color: antiquewhite;
    border-radius: 20px;
    border: solid rgb(129, 131, 98);
}

button{
        background-color: rgb(164, 212, 174);
        border-radius: 20px;
        border: solid rgb(129, 131, 98);
        padding: 20px;
}

.ingresar{
    background-color: rgb(180, 180, 123);
    border-radius: 20px;
    padding: 40px;
    width: 35%;

    .ingresar__presupuesto{
        background-color: rgb(164, 212, 174);
        border-radius: 20px;
        padding: 40px;
    }

    .ingresar__gasto{
        background-color: rgb(204, 129, 126);
        border-radius: 20px;
        padding: 40px;
        margin-top: 35px;
    }
}

.tablas{
    background-color: rgb(184, 184, 151);
    border-radius: 20px;
    padding: 40px;
    width: 45%;
}

table{
    margin: 0 auto;
    width: 50%;
    padding: 0 60px 0 60px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: start; */
    background-color: rgb(189, 157, 109);
}
 
/* #filaTabla{
 

}  */